{# Change password form #}

<!DOCTYPE html>
<html>
<head>

  <title>Passwort ändern</title>
</head>

<body>

<h1>Password ändern</h1>

{{ form_start(form) }}

<div class='login_error'>
  {{ form_errors(form.oldPassword) }}
  {{ form_errors(form) }}
</div>

<table>
  <tr><th>{{ form_label(form.oldPassword) }}</th><td>{{ form_widget(form.oldPassword) }}</td></tr>
  <tr><th>{{ form_label(form.newPassword) }}</th><td>{{ form_widget(form.newPassword) }}</td></tr>
  <tr><th>{{ form_label(form.newPasswordRepeat) }}</th><td>{{ form_widget(form.newPasswordRepeat) }}</td></tr>
</table>
<br>
{{ form_widget(form.submit) }}
{{ form_end(form) }}

</body>
</html>
